
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.header-section {
    position: fixed;
    width: 100%;
}

.header-logo a img {
    width: 100%;
}

.header-section .container {
    border-bottom: 1px solid rgb(255, 255, 155, 0.2);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.header-menu .menu {
    display: flex;
}

.header-menu .menu li a {
    font-family: 'Raleway', sans-serif;
    font-size: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 30px;
}

.header-menu .menu li list-child a {
    padding-right: 0;
}

/* ------------------banner section------------ */
.banner-section {
    background-image: url(./banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}

.banner-section .container h1 {
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0 100px;
}

.banner-section .container p {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 80px;
    padding: 0 124px;
}

.banner-section .container a {
    color: #fff;
    background-color: #E84545;
    padding: 18px 44px;
    font-size: 13px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}