@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@200;300;400;600;700&family=Raleway:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

}

.header-section {
    position: fixed;
    width: 100%;
}

.header-logo a img {
    width: 100%;
}

.header-section .container {
    border-bottom: 1px solid rgb(255, 255, 155, 0.2);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    display: none;
}

.menu-icon i {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}

.header-menu .menu {
    display: flex;
}

.header-menu .menu li a {
    font-family: 'Raleway', sans-serif;
    font-size: 700;
    color: #ffffff;
    text-transform: uppercase;
    padding: 14px 30px;
}

.header-menu .menu li list-child a {
    padding-right: 0;
}

/* ------------------banner section------------ */
.banner-section {
    background-image: url(./banner-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}

.banner-section .container h1 {
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 0 100px;
}

.banner-section .container p {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 80px;
    padding: 0 124px;
}

.banner-section .container a {
    color: #fff;
    background-color: #E84545;
    padding: 18px 44px;
    font-size: 13px;
    border-radius: 4px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}
/* ----------------------service Section--------------- */
.service-section .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 68px;
    column-gap: 5%;
}

.service-section {
    padding: 120px 0;
}

.service-section .container .service-item {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;

}

.service-section .container .service-item a img {
    width: 100%;
}

.service-section .container .service-item p {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;


}

.service-section .container .service-item h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 26px;
}
/* ----------------Gallery Section---------------- */

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
}

.gallery-section .gallery-item {
    max-width: calc(25% - 1px);
    max-height: 330px;
    cursor: pointer;
    position: relative;
}

.gallery-section .gallery-item img {
    width: 100%;
    height: 100%;
}

.gallery-section .gallery-item .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s all ease-in-out;
}

.gallery-section .gallery-item:hover .overlay {
    background-color: rgba(218, 71, 71, 0.8);

}

.gallery-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    transition: 0.4s all;
}

.gallery-item-content h3 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercasw;
    font-weight: 700;
    color: #ffff;
    text-align: center;
}

.gallery-item-content p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffff;
    text-align: center;
}

.gallery-section .gallery-item:hover .gallery-item-content {
    visibility: visible;
}
 /* --------------------- Gallery section end --------------- */